.banniere {
    padding: 20px;
    color: #a970ff;
    border-bottom: solid 1px #a970ff23;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
  }
  
  .banniere div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .link-banniere {
    text-decoration: none;
    color: #a970ff;
  }
  
  .link-banniere:hover {
    text-decoration: none;
    color: #a970ff;
  }
  
  .banniere img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .banniere div .btn {
    color: #f9f9f9;
    margin-left: 10px;
  }
  
  .btn-nav:hover {
    color: #a970ff !important;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .burger-menu .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #a970ff;
  }
  
  @media (max-width: 767px) {
    .menu.open {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .menu.open .btn {
      display: block;
    }
  
    .banniere div .btn {
      display: none;
    }
  
    .burger-menu {
      display: block;
    }

    .banniere{
        padding-right: 0px;
    }
  }
  