.banniere {
    padding: 20px;
    color: #A970FF;
    border-bottom: solid 1px #a970ff23;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.banniere div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-banniere{
    text-decoration: none;
    color: #A970FF;
}

.link-banniere:hover{
    text-decoration: none;
    color: #A970FF;
}

.banniere img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.banniere div button {
    color: #f9f9f9;
    margin-left: 10px;
}